.error-feedback{
    color: #ff6f6f;
}

.title{
    text-align: center;
    font-size: 40px;
}

.user-input{
    width: 100%;
    padding: 5px 10px;
    margin: 15px 0;
    font-size: 20px;
    border: none;
    border-bottom: 3px solid #929aab;
    background: #f7f7f7; 
}  

.user-submit{
    display: block;
    margin: 10px 0 0 auto;
    padding: 8px 10px;
    background: #fdfcfc; 
    color: #393e46;
    font-size: 18px;
    border-radius: 3px;
    border: 2px solid #393e46;
}